/* Clases para home */
.home-body-0 {
  background-color: #f3f4f6;
}
.home-div-0 {
  display: flex;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: #f3f4f6;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.home-div-1 {
  padding: 1.5rem;
  background-color: #ffffff;
  border-top-right-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.home-div-2 {
  max-width: 24rem;
}
.home-div-4 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: 0.5rem;
  max-width: 24rem;
  border-radius: 0.75rem;
  border-width: 2px;
  border-style: solid;
}
.home-div-10 {
  display: flex;
  display: flex;
  flex-direction: row-reverse;
}
.home-div-11 {
  display: flex;
  display: flex;
  flex-direction: column;
}
.home-button-0 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-top: 1rem;
  color: #ffffff;
  font-weight: 600;
  line-height: 1.25rem;
  border-radius: 9999px;
}
.home-h1-0 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  text-align: center;
}
.home-h2-0 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
}
.home-label-0 {
  display: block;
  margin-top: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}
.home-label-1 {
  display: block;
  margin-top: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}
.home-form-input-0 {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-top: 0.25rem;
  background-color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 100%;
  border-radius: 0.375rem;
  border-width: 1px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.home-form-input-1 {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-top: 0.25rem;
  background-color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 100%;
  border-radius: 0.375rem;
  border-width: 1px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.home-form-input-2 {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-top: 0.25rem;
  background-color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 100%;
  border-radius: 0.375rem;
  border-width: 1px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.home-form-label-0 {
  display: block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}
.home-form-label-1 {
  display: block;
  margin-top: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}
.home-form-label-2 {
  display: block;
  margin-top: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}
.home-form-select-0 {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-top: 0.25rem;
  background-color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 100%;
  border-radius: 0.375rem;
  border-width: 1px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.home-form-select-1 {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-top: 0.25rem;
  background-color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 100%;
  border-radius: 0.375rem;
  border-width: 1px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
