/* Clases para oldAuditionForm */

.oldAuditionForm-div-0 {
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: 0.5rem;
  max-width: 24rem;
  border-radius: 0.75rem;
  border-width: 2px;
  border-style: solid;
}
