.application-box {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    justify-content: space-between;
    background-color: white;
    align-items: center;
}

.applicant-header {
    margin: 1rem;
}

.applicant-body {
    margin: 1.5rem;
}

.applicant-body-end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin-top: 1rem;
}

.application-icon {
    width: 32px;
    margin: 0 0.25rem;
}

.no-applicants {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

.application-icons {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    margin-top: 15px;
}

.purple-button {
    padding: 0.5rem 1.25rem;
    color: #ffffff;
    font-weight: 500;
    border-radius: 9999px;
    background-color: #6c0c84 !important;
    height: fit-content;
    margin-bottom: 1rem;
}

.user-name {
    font-size: 1.2rem;
    font-weight: bold;
    align-self: center;
    margin-left: 1rem;
}

.image-and-name {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.postcard-profile-image{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 10000px;
    border:2px solid black;
}

.top-image {
    position: absolute;
    height: 47px;
    width: 47px;
    border-radius: 10000px;
    z-index: 1;
    margin-bottom: 5px;
    margin-left: 1px;
}

.message-span {
    overflow-wrap: break-word;
}

.email-span {
    padding-left: 5px;
}

.usr-url {
    color: white;
}