/* Clases para navbar */


nav {
  background-color: #1c041c !important;
  padding-bottom: 10px !important;
  display: flex !important;
  align-items: center !important;
  height: 80px !important;
}
.container {
  width: 100%;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
body {
  font-family: 'Questrial', sans-serif !important;
}
.nav-div {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-between !important;
  align-items: center !important;
  margin: 0 60px !important;
  height: 80px !important;
  padding: 0 !important;
}
.bandify-title {
  align-self: center !important;
  line-height: 2rem !important;
  margin-left: 10px;
  font-weight: 600 !important;
  white-space: nowrap !important;
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
  font-size: 1.75rem !important;
}

.bandify-logo {
  margin: 0 !important;
}

.logo-section{
  display: flex;
  align-items: center;
  height: 40px !important;
  width: 40px !important;
}

.logout{
  margin: 0 !important;
}


#mobile-menu > ul {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  #mobile-menu > ul {
    font-weight: 500;
    flex-direction: row;
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
    margin-top: 0px;
  }
}

#mobile-menu > ul > li {
  margin: 0 0.5rem;
}

.purple-login-button {
  display: flex;
  align-items: center;
  padding: 25px;
  color: #ffffff;
  border-radius: 9999px;
  background-color: #6c0c84;
  font-size: 1.5rem;
  line-height: 2rem;
  height: 40px !important;
}