/* Clases para navbar */


nav {
  background-color: #1c041c;
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
}
.container {
  width: 100%;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
body {
  font-family: 'Questrial', sans-serif;
}
.nav-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.bandify-title {
  align-self: center;
  font-size: 2rem;
  line-height: 2.25rem;
  font-weight: 600;
  padding: 0.5rem;
  white-space: nowrap;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.bandify-logo {
  width: 2.5rem;
}

#mobile-menu > ul {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  #mobile-menu > ul {
    font-weight: 500;
    flex-direction: row;
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
    margin-top: 0px;
  }
}

#mobile-menu > ul > li {
  margin: 0 0.5rem;
}

.purple-login-button {
  padding: 0.5rem 1.25rem;
  color: #ffffff;
  font-weight: 600;
  border-radius: 9999px;
  background-color: #6c0c84 !important;
  font-size: 1.5rem;
  line-height: 2rem;
}