/* Clases para postCard */
.postCard-div-0 {
  --tw-bg-opacity: 1;
  padding: 1.25rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1.25rem;
  background-color: #ffffff;
  justify-content: center;
  max-width: 28rem;
  border-radius: 0.5rem;
  border-width: 1px;
  transition: 1s;
  width: 300px;
  position: relative;
}
.postCard-div-0:hover {
  transform: translateY(-10px);
}
.postCard-div-1 {
  margin-bottom: 1rem;
  overflow: hidden !important;
}
button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.postCard-div-2 {
  margin-bottom: 1rem;
}
.postCard-div-3 {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  bottom: 7%;
  right: 5%;
}
.postCard-div-5 {
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: auto;
  max-width: 48rem;
}
.postCard-div-4 {
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
  outline: 2px solid transparent;
  outline-offset: 2px;
  justify-content: center;
  align-items: center;
}

.postCard-div-7 {
  display: flex;
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-width: 1px;
  border-style: solid;
}
.postCard-div-9 {
  display: flex;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-top-width: 1px;
  border-style: solid;
}
.postCard-h2-0 {
  color: #111827;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  word-break: break-word;
  white-space: normal;
}
.postcard-delete-btn {
  padding: 0.5rem 1.25rem;
  background-color: #b91c1c;
  color: white;
  line-height: 1.25rem;
  font-weight: 700;

  height: 60px;
  display: flex;
  justify-content: center;
  border-radius: 9999px;
}

.postcard-delete-btn:hover{
  background-color: #ff3b3b;
}


.postCard-button-0 {
  padding: 0.5rem 1.25rem;
  color: #ffffff;
  font-weight: 600;
  line-height: 1.25rem;
  justify-content: flex-end;
  border-radius: 9999px;
  background-color: #6c0c84;
}

.postCard-div-8 {
  position: relative;
  padding: 1.5rem;
  flex: 1 1 auto;
}
.postCard-h2-1 {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.postCard-p-0 {
  color: #374151;
}

.postCard-h3-0 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
}
.postCard-p-1 {
  color: #374151;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.postCard-div-10 {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 40;
  background-color: #000000;
  opacity: 0.25;
}

ul > li {
  margin-top: 0.75rem;
}