.search {
    width: 100%;
    display: flex;
}

.searchTerm {
    border: 3px solid #1c041c;
    padding: 5px 10px;
    border-radius: 9999px;
    color: #ffffff;
    background-image: url('/resources/icons/search.svg');
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-size: 12px;
    width: 600px;
    height: 50px;
}

.searchTerm:focus{
    color: #000000;
}

.searchTerm::placeholder {
    color: black;
}