.search {
    display: flex;
    width: 600px;
    background: white;
    border: 3px solid #1c041c;
    border-radius: 9999px;
    height: 50px;
    align-items: center;
    padding: 10px;
}

#posts {
    font-size: xxx-large;
    font-weight: bold;
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    margin-left: 20px;
    margin-bottom: 10px;
    word-break: break-word;
}

.search-button-container{
    display: flex;
    justify-content: end;
}
.search-button {
    padding: 0.5rem 1.25rem;
    color: #ffffff;
    font-weight: 600;
    line-height: 1.25rem;
    justify-content: flex-end;
    border-radius: 9999px;
    background-color: #6c0c84;
}
.search-button:hover {
    background-color: #0369a1;
}
.search > input[type=text] {
    flex: 1;
    color: black;
    border-radius: 9999px;
    height: 40px;
    width: 90%;
    border: none;
    outline: none;
    padding-left: 10px;
}

.search > button{
    height: 40px;
    width: 10%;
    background-image: url('/resources/icons/search.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 15px;
    float: right;
    cursor: pointer;
    color: black;
}

.search > input[type=text]:focus{
    color: black;
}

.search > input[type=text]::placeholder {
    color: black;
}
.filter-button{
    max-height: 40px;
    margin-left: 1rem;
    cursor: pointer;
}
.filter-button:hover{
    background-color: #cad3e5;
    border-radius: 10px;
}

.search-general-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content ;
    background-color: #ced7de;
    border-radius: 40px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 20px;
}

.searchBarAndOrderBy {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 650px;
}
::placeholder {
    color: #818181!important;
    opacity: 1!important; /* Firefox */
}
.select-placeholder{
    color: #5a5a5a!important;
}
.orderBy{
    margin-left: 10px;
    display: flex;
    justify-content: left;
}


.filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 650px;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.filter-by{
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: 10px;
}
.order-by-title{
    color: #8c8181;
}