.search {
    display: flex;
    width: 600px;
    background: white;
    border: 3px solid #1c041c;
    border-radius: 9999px;
    height: 50px;
    align-items: center;
    padding: 10px;
}

.search > input[type=text] {
    flex: 1;
    color: black;
    border-radius: 9999px;
    height: 40px;
    width: 90%;
    border: none;
    outline: none;
    padding-left: 10px;
}

.search > button{
    height: 40px;
    width: 10%;
    background-image: url('/resources/icons/search.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 15px;
    float: right;
    cursor: pointer;
    color: black;
}

.search > input[type=text]:focus{
    color: black;
}

.search > input[type=text]::placeholder {
    color: black;
}
.filter-button{
    max-height: 40px;
    margin-left: 1rem;
    cursor: pointer;
}
.filter-button:hover{
    background-color: #cad3e5;
    border-radius: 10px;
}

.search-general-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.searchBarAndOrderBy {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.orderBy{
    display: flex;
    margin-left: 10px;
}

.filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

