body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.about-section {
    padding: 50px;
    text-align: center;
    background: rgb(128,18,128);
    background: linear-gradient(9deg, rgba(128,18,128,1) 0%, rgba(99,11,99,1) 34%, rgba(73,2,73,1) 46%, rgba(28,4,16,1) 93%);
    color: white;
    height: 100%;
}

.card-be-header{
    padding-top: 10px;
}
@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    width: 50%;
    padding-right: 1rem;
    background-color: white;
    color: #1c041c;
    border-radius: 15px;
    transition: 1s;
}
.card >h1{
    margin-bottom: 1rem;
    padding-left: 1rem;
    font-size: 150%;
}
.card>hr{
    padding-bottom: 1rem;
}
.card:hover {
    transform: translateY(-5px);
}
.items{
    display: flex;
    justify-content: space-between;
}
.buttons{
    display: flex;
    justify-content: center;
}
button{
    width: 100%;
}
.about-us{
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.25rem;
}
ul {
    list-style-type: circle;
}
li{
    list-style-type: none;
}
.about-us-h2-center-text{
    text-align:center;
    margin-bottom: 2rem;
}
.purple-hover-button {
    padding: 0.5rem 1.25rem;
    color: #ffffff;
    font-weight: 600;
    border-radius: 9999px;
    border-width: 2px;
    border-color: #1c041c;
    background-color: #1c041c !important;
}
.purple-hover-button:nth-child(1n) {
    margin-left: 0;
}

.purple-hover-button:nth-child(2n) {
    margin-right: 0;
}
.purple-hover-button:hover {
    border-width: 2px;
    border-color: #ffffff;
}

