.application-box {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    justify-content: space-between;
    background-color: white;
    align-items: center;
}

.roles-span {
    padding: 0.25rem 0.5rem;
    background-color: #4AAABC;
    border-radius: 0.25rem;
    color: #fff;
    font-size: 1.25rem;
    line-height: 1.25rem;
    margin: 0.25rem;
    height: 25px;
}

.roles-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.applicant-header {
    margin: 1rem;
}

.add-toband-button {
    padding: 0.25rem 1rem;
    color: #1c041c;
    font-weight: 600;
    border-radius: 9999px;
    border-width: 1px;
    border-color: #1c041c;
    height: fit-content;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.add-toband-button:hover {
    --tw-text-opacity: 1;
    color: white;
    --tw-bg-opacity: 1;
    background-color: #1c041c;
    border-color: transparent;

}

.applicant-body {
    margin: 1.5rem;
}

.applicant-body-end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.application-icon {
    width: 32px;
    margin: 0 0.25rem;
}

.no-applicants {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

.application-icons {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    margin-top: 15px;
}
.application-confirmation-buttons{
    display: flex;
    flex-direction: row;
    align-items: start;
}

.purple-button {
    padding: 0.5rem 1.25rem;
    color: #ffffff;
    font-weight: 500;
    border-radius: 9999px;
    background-color: #6c0c84 !important;
    height: fit-content;
    margin-bottom: 1rem;
}


.artist-profile-btn {
    padding: 0.25rem 1rem;
    color: #1c041c;
    font-weight: 600;
    border-radius: 9999px;
    border-width: 1px;
    border-color: #1c041c;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

.artist-profile-btn:hover {
    --tw-text-opacity: 1;
    color: white;
    --tw-bg-opacity: 1;
    background-color: #1c041c;
    border-color: transparent;

}

.artist-profile-btn:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(147 51 234 / var(--tw-ring-opacity));
    --tw-ring-offset-width: 2px;
}

.purple-button:hover {
    background-color: #0369a1 !important;
}

.user-name {
    font-size: 1.2rem;
    font-weight: bold;
    align-self: center;
    margin-left: 1rem;
}

.image-and-name {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.postcard-profile-image{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 10000px;
    border:2px solid black;
}

.top-image {
    position: absolute;
    height: 47px;
    width: 47px;
    border-radius: 10000px;
    z-index: 1;
    margin-bottom: 5px;
    margin-left: 1px;
}

.message-span {
    overflow-wrap: break-word;
}

.email-span {
    padding-left: 5px;
}

.usr-url {
    color: white;
    display: flex;
    flex-direction: row;
}

.audition-icon{
    max-width: 1.25rem;
    max-height: 1.25rem;
    margin-left: 8px;
    color: white;
}