.bandMembers-title {
    font-size: xxx-large;
    font-weight: bold;
    color: black;
    word-break: break-all;
    text-align: center;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.left-panel-abs-bandMembers {
    position: absolute;
    top: 5%;
    left: 15%
}

.band-members-container {
    position: relative;
    padding: 0 0 2rem;
}