*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    overflow:hidden;
    background-color: #f4f6ff;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    position: relative;
    text-align: center;
}
.back-button-container{
    display: flex;
    justify-content: center;
}
.error-back-button {
    padding: 0.5rem 1.25rem;
    color: #ffffff;
    font-weight: 600;
    line-height: 1.25rem;
    justify-content: flex-end;
    border-radius: 9999px;
    background-color: #6c0c84;
}
.error-back-button:hover {
    background-color: #0369a1;
}

h1{
    color:#142833;
}
.wrong-para{
    font-family: "Montserrat", sans-serif;
    font-size: xxx-large;
    position: absolute;
    bottom:15vmin;

    font-weight:600;
    color: #000000;
}

.image {
    margin-bottom: 2rem;
}